@{
    ViewData["Title"] = "Productos";
}

<section class="container d-flex justify-content-center align-items-center gap-3">
    <a class="btn btn-primary" asp-controller="Producto" asp-action="Listar">Listar productos</a>
    <a class="btn btn-outline-primary">Crear producto</a>
    <a class="btn btn-primary">Modificar producto</a>
    <a class="btn btn-outline-primary">Eliminar producto</a>
</section>