@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola Mundo</h1>
    <p>Construyendo mi web app mvc en taller de lenguajes 2.</p>
    <a asp-controller="Producto" asp-action="Operaciones" class="mt-3">Operaciones de productos</a>
</div>
