@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola Mundo</h1>
    <p>Construyendo mi web app mvc en taller de lenguajes 2.</p>
    <section class="mt-3">
        <a asp-controller="Producto" asp-action="Listar">Ver productos</a>
        <a asp-controller="Presupuesto" asp-action="Listar" class="ms-2">Ver presupuestos</a>
    </section>
</div>
